html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: system-ui;
}

#content{
    display: flex;
    flex-flow: column;
    width:calc(100% - 160px);
    height: 100%;
    transition: width 1s;
    transition-timing-function: ease-in-out;
}

.header {
    background-color:rgb(240, 240, 240);
    margin: 0%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    font-size: 1em;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 160px;
    top: 0;
    right: 0;
    background-color:rgb(24, 24, 24);
    overflow-x: hidden;
    text-align: center;
    padding-top: 20px;
    color: white;
    transition: width 1s;
    transition-timing-function: ease-in-out;
}

.sidebarItem{
    display: inline-block;
    background-color:rgb(50, 50, 50);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 1em;
    width:100%;
    color: transparent;  
    text-shadow: 0 0 0 white;

}

#innerContent {
    padding: 0px;
    height: 100%;
}

#gravityBall {
    padding: 0%;
    height: 100%;
    width: 100%;
}



#sidebar.collapseSidebar {
    width: 50px;
}

#sidebar.expandSidebar {
    width: 160px;
}
    
#content.collapseContent {
    width: calc(100% - 160px);
}

#content.expandContent {
    width: calc(100% - 50px);
}
    
    