<!DOCTYPE html>
    <link rel="stylesheet" href="style">
    <script src="anim"></script>
    <script src="contentPage"></script>
  
    <body onload="setInnerContent('profile',loadProfile);set_sidebar_anim()">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <div id="content">
            <div class="header">
                <h1 id="title">Ved Suthar</h1>
            </div>
            <div id="innerContent">
                The content will be loaded here
            </div>
        </div>
        <div id="sidebar">
            <span onclick="collapseSidebar()">☰</span>
            <br><br>
            <span class="sidebarItem" id="profileItem1" onClick="setInnerContent('profile',loadProfile)">Profile</span>
            <span class="sidebarItem" id="profileItem2" onClick="setInnerContent('projects')">Projects</span>
        </div>      
    </body>

    <script src="profileContent"></script>
</html>