<canvas id='gravityBall'>
    An AI enthusiast who likes to build games. Chasing the butterfly of curosity everyday.
    <br>
    Something interesting? Day=Gone!
</canvas>
<link rel="preload" as="image" href="images/elemental.png"/>
<link rel="preload" as="image" href="images/cyclegan_human_anime.png"/>
<link rel="preload" as="image" href="images/resim.webp"/>
<link rel="preload" as="image" href="images/real_time_traffic_simulation.png"/>
<link rel="preload" as="image" href="images/yellow_teal_gradiant.png"/>
<link rel="preload" as="image" href="images/piano_hand_gesture.png"/>
<link rel="preload" as="image" href="images/2d_gravity_sim.png"/>
<link rel="preload" as="image" href="images/night_time_vehicle_detection_output.png"/>
<link rel="preload" as="image" href="images/ar_gravity_sim.png"/>
