<div class="project-list">
    <a href="https://github.com/GoVed/world_sim">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/real_time_traffic_simulation.webp);">
            <h2 class="project-title">Grand Sim Pro</h2>
            <p class="project-description">GPU-accelerated survival simulator in Rust. Uses wgpu and Compute Shaders for thousands of neural-network driven agents.</p>
        </div>
    </a>
    <a href="https://github.com/GoVed/AR-Gravity-Simulator">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/ar_gravity_sim.webp);">
            <h2 class="project-title">AR Gravity Simulator</h2>
            <p class="project-description">Unity AR project for visualizing solar system physics in Augmented Reality using AR Foundation.</p>
        </div>
    </a>
    <a href="https://github.com/GoVed/elemental">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/elemental.webp);">
            <h2 class="project-title">Elemental</h2>
            <p class="project-description">An android game featuring resource management and survival mechanics.</p>
        </div>
    </a>
    <a href="https://www.kaggle.com/code/vedsuthar/cyclegan-human-anime-cps-project">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/cyclegan_human_anime.webp);">
            <h2 class="project-title">Human to Anime face</h2>
            <p class="project-description">CycleGAN implementation for real-time style transformation between human and anime faces.</p>
        </div>
    </a>
    <a href="https://github.com/GoVed/trafast">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/real_time_traffic_simulation.webp);">
            <h2 class="project-title">Real-Time Traffic Simulation</h2>
            <p class="project-description">Traffic simulation in Rust & Bevy, featuring A* pathfinding and JSON-based world loading.</p>
        </div>
    </a>
    <a href="https://github.com/GoVed/gravitySim">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/2d_gravity_sim.webp);">
            <h2 class="project-title">2D Gravity Simulator</h2>
            <p class="project-description">Optimized N-body simulator exploring Python, NumPy, JIT, and CUDA acceleration.</p>
        </div>
    </a>
</div>
