<div class="project-list">
    <a href="https://github.com/GoVed/elemental">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/elemental.png);">
            <h2 class="project-title">Elemental</h2>
            <p class="project-description">An android game<br>(Currently unpublished due to API version update requirement).</p>
        </div>
    </a>
    <a href="https://www.kaggle.com/code/vedsuthar/cyclegan-human-anime-cps-project">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/cyclegan_human_anime.jpeg);">
            <h2 class="project-title">Human to Anime face</h2>
            <p class="project-description">CycleGAN implementation for face style transformation between human and anime faces.</p>
        </div>
    </a>
    <a href="https://github.com/GoVed/resim">
        <div class="project-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/resim.webp);">
            <h2 class="project-title">Resim</h2>
            <p class="project-description">A rustic resource simulator.</p>
        </div>
    </a>
</div>

